*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Viga", sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background: url("/assets/bg2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

header li{
    list-style: none;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

header .logo{
    user-select: none;
}

header{
    background: #39424A;
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    max-width: 1200px;
    height: 3.75em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.navbar .links{
    position: relative;
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn{
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

/* Dropdown Menu */

.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 3.75em;
    width: 300px;
    height: 0;
    background:rgba(180, 180, 180, .2) ;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu li{
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .dm-login-btn{
    width: 50%;
    display: flex;
    justify-content: center;
}

.dropdown-menu.open{
    height: 16em;
}

/* buttons */

.login-btn{
    background: #39424A;
    color: white;
    outline: none;
    font-weight: bold;
    padding: 0.5rem 1.25rem;
    border-radius: 2em;
    cursor: pointer;
    transition: .5s;
}

.login-btn:hover{
    background-color: var(--clr);
    letter-spacing: .05em;
    box-shadow: 0 0 1em var(--clr);
}


.dm-login-btn{
    background: #39424A;
    color: white;
    outline: none;
    font-weight: bold;
    padding: 0.5rem 1.25rem;
    border-radius: 2em;
    cursor: pointer;
    transition: .5s;
}

.dropdown-menu .dm-login-btn:hover{
    background-color: var(--clr);
    letter-spacing: .05em;
    box-shadow: 0 0 1em var(--clr);
}

.navbar li a:not(.dm-login-btn):after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    margin: auto;
    display: block;
    transition: .5s;
}

.navbar li a:hover:not(.dm-login-btn):after{
    width: 100%;
}

.dropdown-menu li a:not(.dm-login-btn){
    color: #39424A;
}

.dropdown-menu li a:not(.dm-login-btn):after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    margin: auto;
    display: block;
    transition: .5s;
}

.dropdown-menu li a:hover:not(.dm-login-btn):after{
    width: 100%;
}

.dropdown-menu li a:hover:not(.dm-login-btn){
    color: white;
}

/* Home Section */

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    left: 50%;
    transform: trasnlateX(-50%);
}


.right-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.right-container h2{
    padding: 1em 1em;
    color:#D5CDC6;
    font-weight: 150;
}

.right-container{
    margin-left: 10em;
}

/* Responsive part */

@media (min-width:577px) and (max-width: 992px){
    .navbar .links,
    .navbar .login-btn{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }

    .dropdown-menu{
        display: block;
        z-index: 1;
    }

    .left-container .logo{
        margin-top: 8em;
        margin-left: 2em;
    }

    .right-container{
        margin-right: 10em;
        margin-top: 8em;
    }

    .right-container h2{
        color:white;
        font-weight: 300;
        font-size:x-large;
    }
}

@media (max-width: 576px){
    .navbar .links,
    .navbar .login-btn{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }

    .dropdown-menu{
        display: block;
        z-index: 1;
    }
    .dropdown-menu{
        left: 2rem;
        width: unset;
        z-index: 2;
    }

    .left-container{
        width: 150px;
        height: 150px;
        left: 50%;
        transform: translate(-50%);
    }

    .right-container{
        max-width: 75%;
        margin-bottom: 5em;
    }

    .right-container h2{
        color:white;
        font-weight: 100;
        font-size: x-large;
        padding: 0em 5em 0em 0em;
    }

    .container{
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /* section#login-reg-form{
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    } */
}