@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Viga", sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background: url("/assets/bg2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.logo{
    user-select: none;
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn{
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

/* Dropdown Menu */

.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background:rgba(180, 180, 180, .2) ;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu li{
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .dm-login-btn{
    width: 50%;
    display: flex;
    justify-content: center;
}

.dropdown-menu.open{
    height: 240px;
}

/* Responsive part */

@media (max-width: 992px){
    .navbar .links,
    .navbar .login-btn{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }

    .dropdown-menu{
        display: block;
        z-index: 2;
    }

}

@media (max-width: 576px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
        z-index: 2;
    }

    /* section#login-reg-form{
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    } */
}

/* buttons */

.login-btn{
    background:transparent;
    border: 2px solid #3F3F3F;
    outline: none;
    border-radius: 1em;
    font-size: .8rem;
    color:white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: .5s;
}

.navbar .login-btn:hover{
    background: white;
    color:black;
}

.dm-login-btn{
    background:transparent;
    border: 2px solid #3F3F3F;
    outline: none;
    border-radius: 1em;
    font-size: .8rem;
    color:white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: .5s;
}

.dropdown-menu .dm-login-btn:hover{
    background: white;
    color:black;
}

.navbar .links a.active, a:hover{
    color: black ;
    transform: .5;
}

.profile {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    display: absolute;

    background: url("/assets/avatar.png") no-repeat;
    border: .1em solid black;
    border-radius: 50%;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  }

.content .information-table{
    position: relative;
    float: right;
    width: 600px;
    height: 250px;
    display: absolute;
    justify-content: center;
    align-items: center;

    background: rgba(180, 180, 180, .75);
    border: .1em solid black;
    border-radius: 1em;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.username{
    position: absolute;
}

.information-table h2{
    font-size: 2em;
    color: #3F3F3F;
    text-align: center;
    display: inline-block;
    margin: 0.5em 1.25em;
    margin-right: -1em;
}


.details{
    position: absolute;
    top: 4.5em;
}

.information-table h1{
    padding: 0.4em 1em;
    font-size: 1.25em;
    color: black;
    font-weight: 50;
    font-family: Arial;
    justify-content: space-between;
    user-select: none;
}


.problems-container{
    position: relative;
    float: right;
    right: inherit;
    width: 100%;
    max-width: 1200px;
    height: 300px;
    display: absolute;
    align-self: center;
    justify-content: center;
    align-items: center;

    background: rgba(180, 180, 180, .75);
    border: .1em solid black;
    border-radius: 1em;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    user-select: none;
    bottom: -3em;

    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.problems-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.problems-container h2{
    background-size: cover;
    background-color: rgba(180, 180, 180, .75);;
    width: 100%;
    font-size: 2em;
    color: #3F3F3F;
    text-align: center;
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.content .profile{
    top: 2em;
    left: 3em;
}

.content .information-table{
    top: 1em;
    left: -5%;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
  
.list-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
  
.list-item:last-child {
    border-bottom: none;
}